:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #3482cf;
  --accent-color: #e74c3c;
  --bg-color: #f8f9fa;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
